.popup__banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (min-width: 320px) {
  .popup__banner {
    padding: 123px 0 123px 0;
  }
}

@media (min-width: 768px) {
  .popup__banner {
    padding: 34px 36px 37px 36px;
  }
}

@media (min-width: 1280px) {
  .popup__banner {
    padding: 34px 36px 37px 36px;
  }
}
