.destinations {
  margin: 0;
  max-width: 100%;
}

@media (min-width: 320px) {
  .destinations {
    padding: 0 19px 48px 19px;
  }
}

@media (min-width: 768px) {
  .destinations {
    padding: 36px 48px 48px 48px;
  }
}

@media (min-width: 1280px) {
  .destinations {
    max-width: 880px;
    padding: 50px 0 66px 0;
    margin: auto;
  }
}
