.profile__name {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

@media (min-width: 320px) {
  .profile__name {
    min-width: 320px;
    padding: 26px 0 36px 0;
  }
}

/*@media (min-width: 768px) {*/
/*  .header {*/
/*    min-width: 720px;*/
/*    padding: 88px 24px 0 24px;*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  .header {*/
/*    min-width: 690px;*/
/*    padding: 92px 286px 0 48px;*/
/*  }*/
/*}*/

@media (min-width: 1280px) {
  .profile__name {
    min-width: 336px;
    padding: 0 0 0 30px;
  }
}

