.profile__name {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

@media (min-width: 320px) {
  .profile__name {
    min-width: 320px;
    padding: 26px 0 36px 0;
  }
}

@media (min-width: 768px) {
  .profile__name {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  .profile__name {
    min-width: 336px;
    padding: 0 0 0 30px;
  }
}

