.profile__add-button_small {
  width: 16px;
  height: 16px;
}

@media (min-width: 320px) {
  .profile__add-button_small {
    padding: 17px 132px 17px 134px;
  }
}

@media (min-width: 768px) {
  .profile__add-button_small {
    display: none;
  }
}
